/*.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, body, html * {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

/* =============================================
                  LOGIN PAGE
==============================================*/

.login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 46px;
  min-width: 100vw;
  min-height: 100vh;
  padding: 43px 52px 37px 52px;
}

/* ========== WELCOME TEXT & LOGO ========== */

.login-welcome {
  flex-basis: 0;
  flex-grow: 1;
  padding: 35px 43px;
  text-align: center;
}

.login-welcome .welcome-title {
  margin-left: auto;
  margin-right: auto;
  width: 427px;
  font-size: 48px;
  color: #145b93;
}

.login-welcome .welcome-subtitle {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  font-size: 28px;
  color: #e98226;
}

/* =============== LOGIN FORM =============== */

.login-form-container {
  flex-basis: 0;
  flex-grow: 1;
  align-self: stretch;
  padding: 35px 43px;
  background-color: #f1f1f1;
  border-radius: 20px;
  max-width: 622px;
}

.login-form-container p {
  text-align: center;
  font-size: 20px;
}

.login-form-container a {
  color: #000;
  text-decoration: underline !important;
}

.login-form-container form {
  margin-top: 10%;
  padding: 0 56px 0 56px;
  font-size: 22px;
}

.login-form-container input {
  border-radius: 5px;
  border: solid 1px #145b93;
  height: 50px;
  width: 100%;
}

.login-form-container button {
  border-radius: 5px;
  border: solid 2px #145b93;
  background-color: #145b93;
  height: 50px;
  font-size: 24px;
}

.login-error {
  flex-basis: 0;
  flex-grow: 1;
  align-self: stretch;
  padding: 35px 43px;
  background-color: #f1f1f1;
  color: red;
  border-radius: 20px;
  max-width: 622px;
}

.login-error p {
  text-align: center;
  font-size: 20px;
}

/* =============================================
          DASHBOARD NAVIGATION & MENUS
==============================================*/
.db-site-container {
  display: flex;
  background-color: #f1f1f1;
  min-width: 100vw;
  min-height: 100vh;
  height: auto;
  padding: 32px 25px;
}

.db-container {
  border: solid 1.5px #f1f1f1;
  background-color: #fff;
  box-shadow: 0 16px 20px 0 rgba(46, 46, 46, 0.15);
}

/* ================ SIDEBAR ================ */

.db-sidenav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  position: fixed;
  padding-top: 14px;
  width: 192px;
  height: calc(100vh - 68px);
  border-radius: 6px;
}

.db-sidenav .company-info {
  margin-bottom: 30px;
  text-align: center;
}

img#company-icon {
  max-height: 50px;
  width: auto;
}

img#user-icon {
  max-height: 35px;
  width: auto;
}

.user-label {
  margin-top: 10px;
  font-family: Roboto;
  font-size: 9px;
  color: #2e2e2e;
}

.sidenav-menu {
  margin-left: -1px;
  padding-left: 0px;
}

.sidenav-menu > li {
  list-style: none;
}

.sidenav-item {
  padding: 0 0 0 20px;
  border-left: solid 2px transparent;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}

.sidenav-active {
  border-left: solid 2px #e98226;
}

.sidenav-active > .sidenav-link {
  color: #e98226 !important;
}

.sidenav-active img {
  filter: invert(72%) sepia(68%) saturate(4243%) hue-rotate(348deg) brightness(98%) contrast(86%) !important;
}

.sidenav-link {
  display: flex;
  align-items: center;
  height: 34px;
  margin-top: 17px;
}

.sidenav-link:not(.sidenav-active) {
  color: #2e2e2e;
}

.sidenav-link:hover {
  color: #e98226;
  text-decoration: none;
}

.sidenav-link:hover img {
  filter: invert(72%) sepia(68%) saturate(4243%) hue-rotate(348deg) brightness(98%) contrast(86%);
}

img.sidenav-icon {
  width: 22px;
  height: auto;
  margin-right: 18px;
}

.user-info {
  padding-left: 16px;
}

.user-info span {
  margin-left: 18px;
}

p.sidenav-vendor-info {
  font-size: 9px;
  text-align: center;
}

/* ========== NAVBAR & CONTAINERS ========== */

.db-container-main {
  display: flex;
  flex-direction: column;
  gap: 17px;
  width: 100%;
  height: calc(100vh - 68px);
  margin-left: 217px;
}

.db-topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  padding: 0 74px;
  width: 100%;
  height: 75px;
  border-radius: 8px;
}

.db-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1 !important;
  width: 324px;
  height: 48px;
  border: none;
  border-radius: 8px;
}

.db-search input {
  flex-grow: 1;
  background-color: #f1f1f1;
  padding-left: 14px;
  height: 100%;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
}

.db-search input:active, .db-search input:focus {
  border: none;
}

.db-search button {
  flex-basis: 0;
  height: 100%;
  border: none;
}

.db-search button:hover {
  background: none !important;
}

.menu-nav {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  height: 35px;
}

img.topnav-icon {
  height: 20px;
  width: auto;
}

/* =============================================
                MAIN DASHBOARD
==============================================*/

.dashboard-main-wrapper {
  display: flex;
  flex-direction: column;
  background: #f9f9f9;
  border: solid 3px #f1f1f1;
  border-radius: 6px;
  box-shadow: 0 16px 20px 0 rgba(46, 46, 46, 0.15);
  flex-grow: 1;
}

.dashboard-main.nav-tabs {
  background: #f9f9f9;
  margin-bottom: 0 !important;
  border-radius: 6px 6px 0 0;
}

.dashboard-main .nav-link {
  padding-top: 15px;
  font-size: 1rem;
  font-weight: 500;
}

.dashboard-main li.nav-item button {
  height: 50px;
  color: rgba(46, 46, 46, 0.75) !important;
  border-radius: 6px 6px 0 0;
  border-top: none;
  border-bottom: solid 3px #f1f1f1;
}

.dashboard-main li.nav-item  button.active {
  height: 50px;
  color: #e98226 !important;
  text-decoration: underline;
  border-radius: 6px 6px 0 0;
  border-top: none;
  border-bottom: solid 3px #fff;
}

.dashboard-main li.nav-item button#dashboard-tab-visual:not(.active) {
  border-left: none;
  border-right: solid 3px #f9f9f9;
}

.dashboard-main li.nav-item button#dashboard-tab-visual.active {
  border-left: none;
  border-right: solid 3px #f1f1f1;
}

.dashboard-main li.nav-item button#dashboard-tab-history:not(.active) {
  border-left: solid 3px #f9f9f9;
  border-right: none;
}

.dashboard-main li.nav-item button#dashboard-tab-history.active {
  border-left: solid 3px #f1f1f1;
  border-right: none;
}

.db-container-main .tab-content {
  flex-grow: 1;
  background: #fff;
  padding: 35px 32px 32px 32px;
  border-radius: 0 0 6px 6px;
  overflow: hidden;
}

.db-container-main .tab-content > div {
  overflow: auto;
}

/* ================= VISUAL ================= */

.asset-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f1f1f1;
  flex-grow: 0;
  padding: 17px 45px;
  border: solid 1px #145b93;
  border-radius: 6px;
  box-shadow: 0 4px 4px 0 rgba(46, 46, 46, 0.25);
  height: 83px;
}

.asset-rating p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #848484;
}

.asset-rating p:first-child {
  font-weight: 600;
  color: #2e2e2e;
}

.asset-rating p:nth-child(2) {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #848484;
}

.asset-rating p:not(:first-child).active {
  color: #e98226;
}

table.visual-rating {
  margin-top: 35px;
  width: 100%;
}

td.stack-bars-summary {
  padding-left: 42px;
  width: 40%;
  vertical-align: top;
}

td.bar-charts-summary {
  padding-right: 26px;
  width: 60%;
  vertical-align: top;
  font-family: 'Inter', 'Roboto', sans-serif;
  color: rgba(46, 46, 46, 0.75);
  font-size: 12px;
  font-weight: 500;
}

td.bar-charts-summary > span {
  color: #2e2e2e;
  font-size: 18px;
}

.stack-bar-h {
  font-size: 18px;
  font-weight: 500;
}

.stack-bar-h > div {
  background: #f1f1f1;
  margin: 10px 0 27px 85px;
  padding: 5px;
  width: 225px;
  height: 53px;
  border-radius: 6px;
}


.visual-rating-threat { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 45px;
  width: 100%;
}

.Overall-Rating-threat {
  width: 115px;
  height: 21px;
  margin: 49px 279px 18px 55px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2e2e2e;
}

.Impact-threat {
  width: 57px;
  height: 21px;
  margin: 49px 16.9px 18px 140px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2e2e2e;
}

.Likelihood-threat{
  width: 83px;
  height: 21px;
  margin: 49px 230px 18px 135px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2e2e2e;
}

.stack-bars-summary-threat {
  padding-left: 42px;
  width: 40%;
  vertical-align: top;
}

.Top-3-threat-agents-with-High-Overall-ratings {
  width: 219px;
  height: 38px;
  margin: 28px 160px 16px 53px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2e2e2e;
}

.Top-3-threat-agents-with-High-Impact {
  width: 223px;
  height: 38px;
  margin: 28px 135px 16px 163px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2e2e2e;
}

.Top-3-threat-agents-with-High-Likelihood {
  width: 219px;
  height: 38px;
  margin: 24px 86px 20px 143px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2e2e2e;
}

.Group-1359 {
  width: 218px;
  height: 53px;
  margin: 0 0 0 7.8px;
  padding: 3px 4.5px 3.7px 52px;
}


.orange-total{
  color: #e98226 !important;
}

.Color {
  width: 225px;
  height: 53px;
  margin: 0 0.8px 0 0;
  padding: 3px 103.9px 14px 5.8px;
  background-color: #f1f1f1;
}


.V-T-Color {
  width: 225px;
  height: 53px;
  margin: 0 0.8px 0 0;
  padding: 0px 103.9px 14px 0px;
  background-color: #f1f1f1;
}

.Dark-Blue-Color {
  width: 115.3px;
  height: 36px;
  padding: 0 0px 0 6.8px;
  background-color: #09375f;
}

.Light-Blue-Color {
  width: 24.2px;
  height: 36px;
  margin: 0 33.4px 2px 57.2px;
  background-color: #126dba;
}

.Grey-Color {
  width: 135.5px;
  height: 36px;
  margin: 0 0 2px 24.9px;
  background-color: #72b7f2;
}
.span-H {
  width: 4.2px;
  height: 8.3px;
  margin: 2px 57.2px 0 0;
  font-family: Roboto;
  font-size: 10px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.83;
  letter-spacing: -0.18px;
  text-align: center;
  color: #2e2e2e;
}

.span-M {
  width: 5.1px;
  height: 8.3px;
  margin: 2px 8.5px 0 0;
  font-family: Roboto;
  font-size: 10px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.83;
  letter-spacing: -0.18px;
  text-align: center;
  color: #2e2e2e;
}

.span-L {
  width: 3.2px;
  height: 8.3px;
  margin: 2px 39.3px 0 13.4px;
  font-family: Roboto;
  font-size: 10px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.83;
  letter-spacing: -0.18px;
  text-align: center;
  color: #2e2e2e;
}

.Top-3-threat {
  width: 219px;
  height: 38px;
  margin: 13px 160px 31px 53px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2e2e2e;
}

.Rectangle-1407-Mal {
  width: 83px;
  height: 31px;
  margin: 31px 278px 14px 53px;
  padding: 6px 10px 6px 2px;
  border-radius: 6px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #f1f1f1;
}

.Rectangle-1407 {
  width: 83px;
  height: 31px;
  margin: 31px 296px 14px 53px;
  padding: 6px 10px;
  border-radius: 6px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #f1f1f1;
}

.Rectangle-1408-Fin {
  width: 130px;
  height: 31px;
  margin: 31px 176px 14px 53px;
  padding: 6px 10px;
  border-radius: 6px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #f1f1f1;
}

.Rectangle-1407-Ph {
  width: 83px;
  height: 31px;
  margin: 13px 296px 14px 53px;
  padding: 6px 10px;
  border-radius: 6px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #f1f1f1;
}

.Rectangle-1409-Service{
  width: 153px;
  height: 31px;
  margin: 15px 162px 0 53px;
  padding: 6px 10px;
  border-radius: 6px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #f1f1f1;
}

.Rectangle-6 {
  width: 1174px;
  height: 575px;
  flex-grow: 0;
  margin: 17px 26px 0 24px;
  padding: 30.3px 32px 54px;
  box-shadow: 0 16px 20px 0 rgba(46, 46, 46, 0.15);
  border: solid 3px #f1f1f1;
  background-color: #fff;
}

.Rectangle-1409 {
  width: 153px;
  height: 31px;
  margin: 13px 226px 2px 53px;
  padding: 6px 10px;
  border-radius: 6px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #f1f1f1;
}

.Rectangle-1410 {
  width: 82px;
  height: 31px;
  margin: 16px 278px 14px 161px;
  padding: 6px 10px 6px 2px;
  border-radius: 6px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #f1f1f1;
}

.Rectangle-1411 {
  width: 83px;
  height: 31px;
  margin: 14px 275px 14px 163px;
  padding: 6px 10px;
  border-radius: 6px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #f1f1f1;
}

.Rectangle-1412 {
  width: 153px;
  height: 31px;
  margin: 13px 205px 2px 163px;
  padding: 6px 10px;
  border-radius: 6px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #f1f1f1;
}

.Rectangle-1413 {
  width: 130px;
  height: 31px;
  margin: 16px 176px 14px 143px;
  padding: 6px 10px;
  border-radius: 6px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #f1f1f1;
}

.Rectangle-1414 {
  width: 169px;
  height: 31px;
  margin: 15px 136px 13px 143px;
  padding: 6px 10px;
  border-radius: 6px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #f1f1f1;
}

.Rectangle-1415 {
  width: 143px;
  height: 31px;
  margin: 15px 162px 0 143px;
  padding: 6px 10px;
  border-radius: 6px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #f1f1f1;
}

.Phishing {
  width: 63px;
  height: 19px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2e2e2e;
}

.Malware {
  width: 62px;
  height: 19px;
  margin: 0 0 0 8px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2e2e2e;
}

.Rectangle-1408 {
  width: 169px;
  height: 31px;
  margin: 14px 210px 14px 53px;
  padding: 6px 10px;
  border-radius: 6px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #f1f1f1;
}

/*.Rectangle-1407 {
  width: 83px;
  height: 31px;
 
  padding: 6px 10px;
  border-radius: 6px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #f1f1f1;
}
.Phishing {
  width: 63px;
  height: 19px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2e2e2e;
}
.Rectangle-1408 {
  width: 169px;
  height: 31px;
 
  padding: 6px 10px;
  border-radius: 6px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #f1f1f1;
}
.Rectangle-1410 {
  width: 82px;
  height: 31px;
 
  padding: 6px 10px 6px 2px;
  border-radius: 6px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #f1f1f1;
}
.Rectangle-1413 {
  width: 129px;
  height: 31px;
 
  padding: 6px 10px;
  border-radius: 6px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #f1f1f1;
}*/

.Lost-or-stolen-device {
  width: 149px;
  height: 19px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2e2e2e;
}

.Financial-Fraud {
  width: 109px;
  height: 19px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2e2e2e;
}

/*.Rectangle-1409 {
  width: 153px;
  height: 31px;
  margin: 13px 226px 2px 53px;
  padding: 6px 10px;
  border-radius: 6px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #f1f1f1;
}
.Rectangle-1412 {
  width: 153px;
  height: 31px;
  margin: 13px 205px 2px 163px;
  padding: 6px 10px;
  border-radius: 6px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #f1f1f1;
}*/

/* ================ DETAILS ================ */

.asset-menu-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 35px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.Button-Icon-Manage {
  width: 100px;
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #145b93;
  color: white;
  border: #145b93;
}

.Button-Icon-Filter {
  width: 100px;
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 16px 8px 12px;
  border-radius: 4px;
  border: solid 1px #145b93;
  background-color: #fff;
  color: #145b93;
}

.table-items-tables-table--column-items {
  width: 100%;
  height: 440px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 135px 100.1px 0 40px;
  padding: 0;
  border: solid 0.8px #145b93;
}

.table-item-01 {
  height: 48.7px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0;
}

.material-icons-outlined {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  align-items: center;
}

.row-item-master-01 {
  align-items: center;
  padding: 8.2px 0;
  box-shadow: inset 0 -1px 0 0 #e6e7e9;
  background-color: #145b93;
}

.cr-button__text {
  width: 22px;
  height: 48px;
  align-self: center;
  flex-grow: 0;
  font-family: NunitoSans;
  font-size: 14.3px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: 0.14px;
  text-align: center;
  color: #f9f9f9;
}

.cr-text {
  text-align: center;
  height: 48px;
}

.table-border-blue {
  margin-left: 1.5%;
  width:97%;
  border: 1px solid #145b93;
}

.button-modal {
  border: none;
  background: none;
}

.scrollable {
  height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
}

/*Filter*/
/*.filter {
position: absolute;
width: 320px;
height: 619px;
left: 1106px;
top: 33px;
overflow-y: scroll;
background: #FFFFFF;*/
/* Shadow Sidebar 1 */
/*box-shadow: 0px 16px 20px rgba(46, 46, 46, 0.15);
border-radius: 7px;
}
.Filter-Main-2 {
  width: 320px;
  height: 619px;
  margin: 33px 14px 49px 890px;
  padding: 60px 0 8px 20px;
  border-radius: 7px;
  box-shadow: 0 16px 20px 0 rgba(46, 46, 46, 0.15);
  padding: 19px 37.5px 2px 19px;
  border: solid 1px #145b93;
  background-color: #f1f1f1;
}
.Filters {
  display: flex;
  flex-direction: row;
  width: 278px;
  height: 24px;
  margin: 0 14px 13px 0;
  justify-content: space-between;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2e2e2e;
}
.cancel {
  width: 12px;
  height: 13.1px;
  margin: 5.9px 0 17.9px 34.7px;
  color:solid #2e2e2e;
}
.filter_catergory_frame {
  width: 278px;
  height: 71px;
  margin: 46px 16px 40px 1px;
}
.filter_label {
  width: 96px;
  height: 16px;
  flex-grow: 0;
  margin: 0 182px 10px 0;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: rgba(46, 46, 46, 0.75);
}
.filter_input_rectangle {
  width: 278px;
  height: 45px;
  flex-grow: 0;
  margin: 10px 0 0;
  padding: 12px 12px 9px 16px;
  border-radius: 5px;
  background-color: #f1f1f1;
}  
  
.Assets {
  width: 278px;
  height: 71px;
  margin: 46px 16px 40px 1px;
}
.Confidentiality {
  width: 278px;
  height: 71px;
  margin: 8px 16px 40px 1px;
}
.Integrity {
  width: 279px;
  height: 71px;
  margin: 40px 16px 40px 0;
}
.Availability {
  width: 278px;
  height: 71px;
  margin: 40px 16px 45px 1px;
  padding: 26px 0 0;
}
.Button-Filter {
  width: 100px;
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 10px;
  margin: 45px 16px 20px 179px;
  padding: 11px 18px;
  border-radius: 4px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  background-color: #0d518b;
  color: white;
  border: #145b93;
}
.Rectangle-1363 {
  width: 318px;
  height: 58px;
  padding: 19px 37.5px 2px 19px;
  box-shadow: 0 10px 20px 0 rgba(46, 46, 46, 0.15);
  border: solid 1px #145b93;
  background-color: #f1f1f1;
}
.data_input {
  width: 88px;
  height: 16px;
  flex-grow: 0;
  margin: 3px 138px 5px 0;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2e2e2e;
}
li {
  list-style: none;
}
.Filter-Main-3 {
  width: 278px;
  height: 403px;
  flex-grow: 0;
  border-radius: 7px;
  box-shadow: 0 16px 20px 0 rgba(46, 46, 46, 0.15);
  margin: 33px 14px 49px 890px;
  border: solid 1px #145b93;
  background-color: #f1f1f1;
}
.SubMenuAssetAll {
  display: flex;
  width: 278px;
  height: 403px;
  flex-grow: 0;
}
.Rectangle-979 {
  width: 278px;
  height: 45px;
  flex-grow: 0;
  padding: 11px 20px 10px 234px;
  border: solid 1px #f9f9f9;
  background-color: #f1f1f1;
}
.Rectangle-935 {
  width: 275px;
  height: 48px;
  flex-grow: 0;
  border: solid 1px #f1f1f1;
  background-color: #f9f9f9;
}
.Button-Primary-Done {
  display: flex;
  width: 100px;
  height: 36px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 10px;
  margin: 19px 26px 0 152px;
  padding: 11px 18px;
  border-radius: 4px;
  background-color: #0d518b;
  color: #fff;
}
.Network-Data-Center {
  width: 142px;
  height: 16px;
  flex-grow: 0;
  margin: 4px 0 4px 13px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2e2e2e;
}*/

/* ========== RECOMMENDATIONS ========== */
.rec-button__text {
  width: 22px;
  height: 48px;
  align-self: center;
  flex-grow: 0;
  font-family: NunitoSans;
  font-size: 14.3px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: 0.14px;
  text-align: center;
  color: #f9f9f9;
}

.cell-1{
  border-collapse: separate;
  border-spacing:0.4em;
  background:#ffffff;
  border-bottom: 5px solid transparent;
  background-clip: padding-box;
  cursor:pointer
  }

  #demo{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s 0.1s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  #summary {
    font-size: 14px;
    line-height: 1.5;
  }
  
  #summary p.collapse:not(.show) {
      height: 16px !important;
      overflow: hidden;
    
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;  
  }
  
  #summary p.collapsing {
      min-height: 16px !important;
  }
  
  #summary a.collapsed:after  {
      content: '+ Read More';
  }
  
  #summary a:not(.collapsed):after {
      content: '- Read Less';
  }

/*.Injury-Level {
  width: 230px;
  height: 289px;
  margin: 17px 65px 7px 19px;
  padding: 0 0 118px;
}
.Color {
  width: 225px;
  height: 53px;
  padding: 3px 6px 3.7px 5px;
  background-color: #f1f1f1;
}
  
.dark_blue {
  width: 112px;
  height: 36px;
  margin: 0 0 2px;
  background-color: #09375f;
}
.blue {
  width: 59px;
  height: 36px;
  margin: 0 20px 2px 0;
  background-color: #126dba;
}
.grey {
  width: 46px;
  height: 36px;
  background-color: #72b7f2;
}
*/

.injury-level1 {
  position: absolute;
  width: 230px;
  height: 53px;
  left: 160px;
  top: 247px;
  box-shadow: inset 0px 4px 4px rgba(46, 46, 46, 0.05);
  filter: drop-shadow(0px 4px 4px rgba(46, 46, 46, 0.15));
  border-radius: 6px;
}

.dark_blue {
  position: absolute;
  width: 230px;
  height: 53px;
  left: 160px;
  top: 247px;
  box-shadow: inset 0px 4px 4px rgba(46, 46, 46, 0.05);
  filter: drop-shadow(0px 4px 4px rgba(46, 46, 46, 0.15));
  border-radius: 6px;
  background-color: #09375f;
}

/* ========== Manage list/Add ========== */
/*.Rectangle-add-new-asset {
  width: 800px;
  height: 58px;
  margin: 0 0 39px;
  padding: 19px 20px 18px 19px;
  box-shadow: 0 10px 20px 0 rgba(46, 46, 46, 0.15);
  border: solid 1px #145b93;
  background-color: #f1f1f1;
}
.Rectangle-form-grey {
  width: 780px;
  height: 391px;
  flex-grow: 0;
  margin: 0 0 24px;
  padding: 20px 28px 17px 29px;
  border-radius: 5px;
  background-color: #f1f1f1;
}
.Frame-form {
  width: 376px;
  height: 48px;
  margin: 8px 0 0;
  border-radius: 4px;
  border: solid 1px #2e2e2e;
  background-color: #fff;
}
.Frame-description {
  width: 376px;
  height: 100px;
  flex-grow: 0;
  margin: 1px 0 70px 324px;
  padding: 0 0 77px;
}
.label {
  margin-top: 5px;
}
*/

.Manage-listAdd {
  width: 100%;
  height: 609.78px;
  flex-grow: 0;
  padding: 1px 1px 26px;
  border-radius: 7px;
  box-shadow: 0 16px 20px 0 rgba(46, 46, 46, 0.15);
  background-color: #fff;
}

.Rectangle-top {
  width: 100%;
  height: 58px;
  margin: 0 0 39px;
  padding: 19px 20px 18px 19px;
  box-shadow: 0 10px 20px 0 rgba(46, 46, 46, 0.15);
  border: solid 1px #145b93;
  background-color: #f1f1f1;
}

.Add-New-Asset {
  display: flex;
  flex-direction: row;
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2e2e2e;
  align-items: center;
  justify-content: space-between;
}

.Top-Cancel{
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2e2e2e;
  border:none;
}

.Rectangle-grey-box {
  width: 100%;
  height: 420px;
  flex-grow: 0;
  margin: 50px 0 24px;
  padding: 20px 28px 17px 29px;
  border-radius: 5px;
  background-color: #f1f1f1;
}

/*.test {
  width: 100px;
  height: 36px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px;
  margin: 24px 2px 0 1032px;
  padding: 11px 18px;
  border-radius: 4px;
  background-color: #0d518b;
  }
  .button-done {
    align-self: stretch;
    flex-grow: 1;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #f9f9f9;
  }*/

  .Button-Icon-done {
    width: 100px;
    height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 24px 2px 0 93%;
    align-items: center;
    gap: 10px;    
    border-radius: 4px;
    background-color: #145b93;
    color: white;
    border: #145b93;
  }

  .Frame-1 {
    width: 40%;
    height: 48px;
    margin: 4px 0 0;
    border-radius: 4px;
    border: solid 1px #2e2e2e;
    background-color: #fff;
  }

  .Frame-left {
    width: 80%;
    height: 48px;
    margin: 4px 0 10px 0;
    border-radius: 4px;
    border: solid 1px #2e2e2e;
    background-color: #fff;
  }

  .Frame-right {
    width: 80%;
    height: 48px;
    margin: 4px 0 10px 0;
    margin-left:20%;
    border-radius: 4px;
    border: solid 1px #2e2e2e;
    background-color: #fff;
  }

  .Frame-right-multiselect {
    width: 80%;
    margin: 4px 0 10px 0;
    margin-left:20%;
    margin-right: 20%;
    border-radius: 4px;
    border: solid 1px #2e2e2e;
    background-color: #fff;
  }

  .Frame-left-multiselect {
    width: 80%;
    margin: 4px 0 10px 0;
    border-radius: 4px;
    border: solid 1px #2e2e2e;
    background-color: #fff;
  }

  .Frame-search {
    width: 70%;
    height: 48px;
    margin: 4px 0 0 0;
    margin-left:20%;
    border-radius: 4px;
    border: solid 1px #2e2e2e;
    background-color: #fff;
  }
  .Frame-search-button {
    height: 48px;
    margin: 4px 0 10px 0;
    margin-left:90%;
    border-radius: 4px;
    border: solid 1px #2e2e2e;
    background-color: #fff;
  }

  .Label {    
    height: 19px;    
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #2e2e2e;
  }

  .Frame-desc {
    width: 80%; 
    margin: 4px 0 0;
    margin-left:20%;
    border-radius: 4px;
    border: solid 1px #2e2e2e;
    background-color: #fff;
  }

  .Label-right {   
    height: 19px;
    margin-left: 20%;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #2e2e2e;
  }

  .Frame-right {
    width: 80%;
    height: 48px;
    margin: 4px 0 10px 0;
    margin-left:20%;
    margin-right: 20%;
    border-radius: 4px;
    border: solid 1px #2e2e2e;
    background-color: #fff;
  }

  .optional{
    color: #e98226;
    font-size: 14px;
    font-family: Roboto;
  }

/* ========== Modal Manage list/Add ========== */

  /*.Rectangle-top-modal {
    width: 1000px;
    height: 58px;
    margin: 0 0 39px;
    padding: 19px 20px 18px 19px;
    box-shadow: 0 10px 20px 0 rgba(46, 46, 46, 0.15);
    border: solid 1px #145b93;
    background-color: #f1f1f1;
  }*/

  .Rectangle-grey-box-modal {
    width: 950px;
    height: 420px;
    flex-grow: 0;
    margin: 50px 24px 24px 24px;
    padding: 20px 28px 17px 29px;
    border-radius: 5px;
    background-color: #f1f1f1;
  }

  .Button-Icon-done-modal {
    width: 100px;
    height: 36px;
    align-items: center;
    gap: 10px;    
    border-radius: 4px;
    background-color: #145b93;
    color: white;
    border: #145b93;
  }

  .Rectangle-top-modal {
    width: 1000px;
    height: 58px;
    box-shadow: 0 10px 20px 0 rgba(46, 46, 46, 0.15);
    border: solid 1px #145b93;
    background-color: #f1f1f1;
  }

  .Manage-listAdd-modal {
    width: 1005px;
    height: 609.78px;
    flex-grow: 0;
    padding: 1px 1px 26px;
    border-radius: 7px;
    box-shadow: 0 16px 20px 0 rgba(46, 46, 46, 0.15);
    background-color: #fff;
  }

  .Frame-desc-manage {
    width: 80%; 
    height:150px;
    margin: 4px 0 0;
    margin-left:20%;
    border-radius: 4px;
    border: solid 1px #2e2e2e;
    background-color: #fff;
  }

  .Add-New-Asset-modal {
    width: 124px;
    height: 21px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #2e2e2e;
  }

  .Button-Icon-AddAsset-modal {
    width: 106px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #145b93;
    color: white;
    border: #145b93;
  }

  .Button-Icon-Filter-modal {
    width: 106px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px 16px 8px 12px;
    border-radius: 4px;
    border: solid 1px #145b93;
    background-color: #fff;
    color: #145b93;
  }

  /*.V-T-Color {
    width: 225px;
    height: 53px;
    margin: 0 0.8px 0 0;
    padding: 3px 103.9px 14px 5.8px;
    background-color: #f1f1f1;
  }
  .Dark-Blue-Color {
    width: 115.3px;
    height: 36px;
    padding: 0 0px 0 6.8px;
    background-color: #09375f;
  }
  .Light-Blue-Color {
    width: 24.2px;
    height: 36px;
    margin: 0 33.4px 2px 57.2px;
    background-color: #126dba;
  }
  .Grey-Color {
    width: 76.5px;
    height: 36px;
    margin: 0 0 2px 9.9px;
    background-color: #72b7f2;
  }
  .Top-3-threat {
    width: 219px;
    height: 38px;
    margin: 13px 160px 31px 53px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #2e2e2e;
  }
  .Rectangle-1407 {
    width: 83px;
    height: 31px;
    margin: 31px 296px 14px 53px;
    padding: 6px 10px;
    border-radius: 6px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #f1f1f1;
  }
  .Rectangle-6 {
    width: 1174px;
    height: 575px;
    flex-grow: 0;
    margin: 17px 26px 0 24px;
    padding: 30.3px 32px 54px;
    box-shadow: 0 16px 20px 0 rgba(46, 46, 46, 0.15);
    border: solid 3px #f1f1f1;
    background-color: #fff;
  }
  .Rectangle-1409 {
    width: 153px;
    height: 31px;
    margin: 13px 226px 2px 53px;
    padding: 6px 10px;
    border-radius: 6px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #f1f1f1;
  }
  
  .Phishing {
    width: 63px;
    height: 19px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #2e2e2e;
  }
  
  .Rectangle-1408 {
    width: 169px;
    height: 31px;
    margin: 14px 210px 14px 53px;
    padding: 6px 10px;
    border-radius: 6px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #f1f1f1;
  }*/


/* ========== Info Button ========== */

  .Rectangle-accordion-header {
    width: 1000px;
    height: 58.4px;
    flex-grow: 0;
    margin: 0 0 0.3px;
    padding: 7px 8px 14.4px 7px;
    border: solid 1px #f9f9f9;
    background-color: #145b93;
    text-align: center;
  }

  .Rectangle-accordion-content {
    width: 1000px;
    box-shadow: 0 16px 20px 0 rgba(46, 46, 46, 0.15);
    border: solid 1px #f1f1f1;
    background-color: #fff;
  }
  .modal-body-box{
    padding: 0 24px 28px 24px;
  }

  .accordion-title-name {
    width: 125px;
    height: 16px;
    flex-grow: 0;
    margin: 0 20px 0 55.4px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    text-align: center;
    color: #f9f9f9;
  }

 .accordion-title-name-black {
  width: 125px;
  height: 16px;
  flex-grow: 0;
  margin: 0 20px 0 55.4px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.7px;
  text-align: center;
}

.accordion-title-name-button {
  width: 952px;
  height: 36px;
  flex-grow: 0;
  margin: 0 0 0.2px;
  padding: 5px 40px 9px 1px;
  border: solid 1px #145b93;
  background-color: #f1f1f1;
  color : #145b93; ;
}

.accordion-title-name {
  width: 125px;
  height: 16px;
  flex-grow: 0;
  margin: 0 20px 0 55.4px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.7px;
  text-align: center;
  color: #f9f9f9;
}

.accordion-tab-name {
  width: 250px;
  height: 16px;
  flex-grow: 0;
  margin: 1px 258px 0 164px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.7px;
  text-align: center;
  color: #145b93;
}

.Rectangle-accordion-title-h {
  width: 1000px;
  height: 58.4px;
  flex-grow: 0;
  margin: 0 0 0.3px;
  padding: 7px 8px 14.4px 7px;
  text-align: center;
  color: #2e2e2e;
} 

.BG {
  width: 952px;
  height: 80px;
  margin: 0px 0 1px;
  box-shadow: 0 2px 7.3px 0 rgba(46, 46, 46, 0.25);
  background-color: #fff;
}

.BG-Frame {
  width: 952px;
  height: 100px;
}

.accordion-tab-name-black {
  width: 250px;
  height: 16px;
  flex-grow: 0;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.7px;
  text-align: center;
  color: #2e2e2e;
}

/* Filters*/

.Filter-Main-Long {
  width: 320px;
  height: 679px;
  flex-grow: 0;
  padding: 1px 0 0 1px;
  border-radius: 7px;
  box-shadow: 0 16px 20px 0 rgba(46, 46, 46, 0.15);
  background-color: #fff;
}

.Rectangle-1363 {
  width: 318px;
  height: 58px;
  margin: 0 1px 1px 0;
  padding: 19px 37.5px 15px 19px;
  box-shadow: 0 10px 20px 0 rgba(46, 46, 46, 0.15);
  border: solid 1px #145b93;
  background-color: #f1f1f1;
}

.Filters {
  width: 61px;
  height: 24px;
  margin: 0 188.5px 0 0;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2e2e2e;
}

.Vector {
  width: 12px;
  height: 13.1px;
  margin: 5.9px 0 4.9px 188.5px;
  background-color: rgba(46, 46, 46, 0.75);
}

.Asset-Category {
  width: 96px;
  height: 16px;
  flex-grow: 0;
  margin: 0 0 10px 0;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: rgba(46, 46, 46, 0.75);
}

.Rectangle-979 {
  width: 278px;
  height: 45px;
  flex-grow: 0;
  margin: 10px 0 0;
  padding: 11px 12px 10px 16px;
  border: solid 1px #f9f9f9;
  background-color: #f1f1f1;
}

.Rectangle-1370 {
  width: 278px;
  height: 48px;
  flex-grow: 0;
  margin: 47px 0 0;
  padding: 10px 75px 14px 24px;
  border: solid 1px #f1f1f1;
  background-color: #f9f9f9;
}

.Rectangle-935 {
  width: 278px;
  height: 48px;
  flex-grow: 0;
  padding: 18px 200px 12px 26px;
  border: solid 1px #f1f1f1;
  background-color: #f9f9f9;
}

.Filter-Button-Icon-done {
  width: 100px;
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 45px 16px 20px 179px;
  align-items: center;
  gap: 10px;    
  border-radius: 4px;
  background-color: #145b93;
  color: white;
  border: #145b93;
}

.Rectangle-978 {
  width: 278px;
  height: 20px;
  flex-grow: 0;
  margin: 10px 0 0;
  padding: 11px 12px 10px 16px;
  border-radius: 5px;
}
/* Manage List Search */

.ml-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white !important;
  width: 80%;
  height: 48px;
  margin-left:20%;
  border-radius: 4px;
  border: solid 1px #2e2e2e;
}

.ml-search input {
  flex-grow: 1;
  background-color: white;
  margin: 0 0 10px 0;
  padding-left: 14px;
  height: 44px;
  font-size: 14px;
  font-weight: 500;
  border:none;
}

.ml-search input:active, .ml-search input:focus {
  background: none !important;
  border: none !important;
}

.ml-search button {
  flex-basis: 0;
  height: 41px;
  margin: 4px 0 10px 0;
  border:none;
}

.ml-search button:hover {
  background: none !important;
}

/* Edit*/

.pen-button {
  border:none;
  border-color: none;
  background-color: none;
  background-color: transparent;  
}

.pen-button:hover {
  border:transparent;
  border-color: none;
  background-color: transparent;
}

.pen-button-link:hover {
  border:transparent;
  border-color: none;
  color: #e98226;  
  background-color:  white !important;
}

.pen-button-link {
  border:none;
  border-color: none;
  text-align: center;
}

.rounded {
  width: 78.3px;
  flex-grow: 0;
  padding: 12px 17.5px 10px 18px;
  font-family: Roboto;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.39px;
  text-align: center;
  color: rgba(46, 46, 46, 0.75);
  border-radius: 6px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  border: solid 1.5px #f1f1f1;
  background-color: #fff; 
}

/*OK Button*/
.Manage-list-add {
  width: 399px;
  height: 228px;
  padding: 1px 1px 21.3px 0.1px;
  border-radius: 7px;
  box-shadow: 0 16px 20px 0 rgba(46, 46, 46, 0.15);
  background-color: #fff;
}

.Rectangle-header {
  width: 397px;
  height: 58px;
  margin: 0 0 1.5px 0.9px;
  box-shadow: 0 10px 20px 0 rgba(46, 46, 46, 0.15);
  border: solid 1px #145b93;
  background-color: #f1f1f1;
}

.Button-Primary-Added {
  width: 100px;
  height: 36px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 27px 148px 19.7px 149.9px;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #145b93;
}

.New-asset-was-successfully-added-to-the-list {
  width: 100%;
  height: 16px;
  margin: 37.5px 0 37px 0 ;
  font-family: Roboto !important;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2e2e2e;
}

.remove-menu-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Button-Icon-remove-modal {
  width: 106px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 16px 8px 12px;
  border-radius: 4px;
  border: none;
  background-color: #fff;
  color: #145b93;
}

.Manage-list-delete {
  width: 399px;
  height: 228px;
  flex-grow: 0;
  padding: 1px 1px 35px;
  border-radius: 7px;
  box-shadow: 0 16px 20px 0 rgba(46, 46, 46, 0.15);
  background-color: #fff;
}

.Remove-asset-message {
  width: 100%;
  height: 16px;
  margin: 20px 0 50px 0 ;
  font-family: Roboto !important;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2e2e2e;
}

/*Button*/
.Button-Icon-Manage-Threat {
  width: 100px;
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background-color: #145b93;
  color: white;
  border: #145b93;
}

/*With Rating*/
.dashboard-main-wrapper-long {
  display: flex;
  flex-direction: column;
  background: #f9f9f9;
  border: solid 3px #f1f1f1;
  border-radius: 6px;
  box-shadow: 0 16px 20px 0 rgba(46, 46, 46, 0.15);
  flex-grow: 1;
}

.Rectangle-grey-box-long {
  height: 520px;
  flex-grow: 0;
  margin: 50px 24px 24px 24px;
  padding: 20px 28px 17px 29px;
  border-radius: 5px;
  background-color: #f1f1f1;
}

.Manage-listAdd-long {
  width: 100%;
  height: 690.78px;
  flex-grow: 0;
  padding: 1px 1px 26px;
  border-radius: 7px;
  box-shadow: 0 16px 20px 0 rgba(46, 46, 46, 0.15);
  background-color: #fff;
}