/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, body, html * {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

/* =============================================
                  LOGIN PAGE
==============================================*/

.login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 46px;
  min-width: 100vw;
  min-height: 100vh;
  padding: 43px 52px 37px 52px;
}

/* ========== WELCOME TEXT & LOGO ========== */

.login-welcome {
  flex-basis: 0;
  flex-grow: 1;
  padding: 35px 43px;
  text-align: center;
}

.login-welcome .welcome-title {
  margin-left: auto;
  margin-right: auto;
  width: 427px;
  font-size: 48px;
  color: #145b93;
}

.login-welcome .welcome-subtitle {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  font-size: 28px;
  color: #e98226;
}

/* =============== LOGIN FORM =============== */

.login-form-container {
  flex-basis: 0;
  flex-grow: 1;
  align-self: stretch;
  padding: 35px 43px;
  background-color: #f1f1f1;
  border-radius: 20px;
  max-width: 622px;
}

.login-form-container p {
  text-align: center;
  font-size: 20px;
}

.login-form-container a {
  color: #000;
  text-decoration: underline !important;
}

.login-form-container form {
  margin-top: 10%;
  padding: 0 56px 0 56px;
  font-size: 22px;
}

.login-form-container input {
  border-radius: 5px;
  border: solid 1px #145b93;
  height: 50px;
  width: 100%;
}

.login-form-container button {
  border-radius: 5px;
  border: solid 2px #145b93;
  background-color: #145b93;
  height: 50px;
  font-size: 24px;
}

/* =============================================
          DASHBOARD NAVIGATION & MENUS
==============================================*/
.db-site-container {
  display: flex;
  background-color: #f1f1f1;
  min-width: 100vw;
  min-height: 100vh;
  height: auto;
  padding: 32px 25px;
}

.db-container {
  border: solid 1.5px #f1f1f1;
  background-color: #fff;
  box-shadow: 0 16px 20px 0 rgba(46, 46, 46, 0.15);
}

/* ================ SIDEBAR ================ */

.db-sidenav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  position: fixed;
  padding-top: 14px;
  width: 192px;
  height: calc(100vh - 68px);
  border-radius: 6px;
}

.db-sidenav .company-info {
  margin-bottom: 30px;
  text-align: center;
}

img#company-icon {
  max-height: 50px;
  width: auto;
}

img#user-icon {
  max-height: 35px;
  width: auto;
}

.user-label {
  margin-top: 10px;
  font-family: Roboto;
  font-size: 9px;
  color: #2e2e2e;
}

.sidenav-menu {
  margin-left: -1px;
  padding-left: 0px;
}

.sidenav-menu > li {
  list-style: none;
}

.sidenav-item {
  padding: 0 0 0 20px;
  border-left: solid 2px transparent;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}

.sidenav-active {
  border-left: solid 2px #e98226;
}

.sidenav-active > .sidenav-link {
  color: #e98226 !important;
}

.sidenav-active img {
  filter: invert(72%) sepia(68%) saturate(4243%) hue-rotate(348deg) brightness(98%) contrast(86%) !important;
}

.sidenav-link {
  display: flex;
  align-items: center;
  height: 34px;
  margin-top: 17px;
}

.sidenav-link:not(.sidenav-active) {
  color: #2e2e2e;
}

.sidenav-link:hover {
  color: #e98226;
  text-decoration: none;
}

.sidenav-link:hover img {
  filter: invert(72%) sepia(68%) saturate(4243%) hue-rotate(348deg) brightness(98%) contrast(86%);
}

img.sidenav-icon {
  width: 22px;
  height: auto;
  margin-right: 18px;
}

.user-info {
  padding-left: 16px;
}

.user-info span {
  margin-left: 18px;
}

p.sidenav-vendor-info {
  font-size: 9px;
  text-align: center;
}

/* ========== NAVBAR & CONTAINERS ========== */

.db-container-main {
  display: flex;
  flex-direction: column;
  gap: 17px;
  width: 100%;
  height: calc(100vh - 68px);
  margin-left: 217px;
}

.db-topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  padding: 0 74px;
  width: 100%;
  height: 75px;
  border-radius: 8px;
}

.db-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1 !important;
  width: 324px;
  height: 48px;
  border: none;
  border-radius: 8px;
}

.db-search input {
  flex-grow: 1;
  background-color: #f1f1f1;
  padding-left: 14px;
  height: 100%;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
}

.db-search input:active, .db-search input:focus {
  border: none;
}

.db-search button {
  flex-basis: 0;
  height: 100%;
  border: none;
}

.db-search button:hover {
  background: none !important;
}

.menu-nav {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  height: 35px;
}

img.topnav-icon {
  height: 20px;
  width: auto;
}

/* =============================================
                MAIN DASHBOARD
==============================================*/

.dashboard-main-wrapper {
  display: flex;
  flex-direction: column;
  background: #f9f9f9;
  border: solid 3px #f1f1f1;
  border-radius: 6px;
  box-shadow: 0 16px 20px 0 rgba(46, 46, 46, 0.15);
  flex-grow: 1;
}

.dashboard-main.nav-tabs {
  background: #f9f9f9;
  margin-bottom: 0 !important;
  border-radius: 6px 6px 0 0;
}

.dashboard-main .nav-link {
  padding-top: 15px;
  font-size: 1rem;
  font-weight: 500;
}

.dashboard-main li.nav-item button {
  height: 50px;
  color: rgba(46, 46, 46, 0.75) !important;
  border-radius: 6px 6px 0 0;
  border-top: none;
  border-bottom: solid 3px #f1f1f1;
}

.dashboard-main li.nav-item  button.active {
  height: 50px;
  color: #e98226 !important;
  text-decoration: underline;
  border-radius: 6px 6px 0 0;
  border-top: none;
  border-bottom: solid 3px #fff;
}

.dashboard-main li.nav-item button#dashboard-tab-visual:not(.active) {
  border-left: none;
  border-right: solid 3px #f9f9f9;
}

.dashboard-main li.nav-item button#dashboard-tab-visual.active {
  border-left: none;
  border-right: solid 3px #f1f1f1;
}

.dashboard-main li.nav-item button#dashboard-tab-history:not(.active) {
  border-left: solid 3px #f9f9f9;
  border-right: none;
}

.dashboard-main li.nav-item button#dashboard-tab-history.active {
  border-left: solid 3px #f1f1f1;
  border-right: none;
}

.db-container-main .tab-content {
  flex-grow: 1;
  background: #fff;
  padding: 35px 32px 32px 32px;
  border-radius: 0 0 6px 6px;
  overflow: hidden;
}

.db-container-main .tab-content > div {
  overflow: auto;
}

/* ================= VISUAL ================= */

.asset-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f1f1f1;
  flex-grow: 0;
  padding: 17px 45px;
  border: solid 1px #145b93;
  border-radius: 6px;
  box-shadow: 0 4px 4px 0 rgba(46, 46, 46, 0.25);
  height: 83px;
}

.asset-rating p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #848484;
}

.asset-rating p:first-child {
  font-weight: 600;
  color: #2e2e2e;
}

.asset-rating p:nth-child(2) {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #848484;
}

.asset-rating p:not(:first-child).active {
  color: #e98226;
}

table.visual-rating {
  margin-top: 35px;
  width: 100%;
}

td.stack-bars-summary {
  padding-left: 42px;
  width: 40%;
}

td.bar-charts-summary {
  padding-right: 26px;
  width: 60%;
}

/* ================ DETAILS ================ */

.asset-menu-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 35px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.Button-Icon-Manage {
  width: 100px;
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #145b93;
  color: white;
  border: #145b93;
}

.Button-Icon-Filter {
  width: 100px;
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 16px 8px 12px;
  border-radius: 4px;
  border: solid 1px #145b93;
  background-color: #fff;
  color: #145b93;
}

.table-items-tables-table--column-items {
  width: 100%;
  height: 440px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 135px 100.1px 0 40px;
  padding: 0;
  border: solid 0.8px #145b93;
}

.table-item-01 {
  height: 48.7px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0;
}

.material-icons-outlined {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  align-items: center;
}

.row-item-master-01 {
  align-items: center;
  padding: 8.2px 0;
  box-shadow: inset 0 -1px 0 0 #e6e7e9;
  background-color: #145b93;
}

.cr-button__text {
  width: 22px;
  height: 48px;
  align-self: center;
  flex-grow: 0;
  font-family: NunitoSans;
  font-size: 14.3px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: 0.14px;
  text-align: center;
  color: #f9f9f9;
}

.cr-text {
  text-align: center;
  height: 48px;
}

.table-border-blue {
  margin-left: 1.5%;
  width:97%;
  border: 1px solid #145b93;
}

.button-modal {
  border: none;
  background: none;
}

.scrollable {
  height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
}

/*Filter*/
.filter {
position: absolute;
width: 320px;
height: 619px;
left: 1106px;
top: 33px;
overflow-y: scroll;
background: #FFFFFF;
/* Shadow Sidebar 1 */
box-shadow: 0px 16px 20px rgba(46, 46, 46, 0.15);
border-radius: 7px;
}

.Filter-Main-2 {
  width: 320px;
  height: 619px;
  margin: 33px 14px 49px 890px;
  padding: 60px 0 8px 20px;
  border-radius: 7px;
  box-shadow: 0 16px 20px 0 rgba(46, 46, 46, 0.15);
  padding: 19px 37.5px 2px 19px;
  border: solid 1px #145b93;
  background-color: #f1f1f1;
}

.Filters {
  display: flex;
  flex-direction: row;
  width: 278px;
  height: 24px;
  margin: 0 14px 13px 0;
  justify-content: space-between;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2e2e2e;
}
.cancel {
  width: 12px;
  height: 13.1px;
  margin: 5.9px 0 17.9px 34.7px;
  color:solid #2e2e2e;
}

.filter_catergory_frame {
  width: 278px;
  height: 71px;
  margin: 46px 16px 40px 1px;
}

.filter_label {
  width: 96px;
  height: 16px;
  flex-grow: 0;
  margin: 0 182px 10px 0;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: rgba(46, 46, 46, 0.75);
}
.filter_input_rectangle {
  width: 278px;
  height: 45px;
  flex-grow: 0;
  margin: 10px 0 0;
  padding: 12px 12px 9px 16px;
  border-radius: 5px;
  background-color: #f1f1f1;
}  
  
.Assets {
  width: 278px;
  height: 71px;
  margin: 46px 16px 40px 1px;
}

.Confidentiality {
  width: 278px;
  height: 71px;
  margin: 8px 16px 40px 1px;
}

.Integrity {
  width: 279px;
  height: 71px;
  margin: 40px 16px 40px 0;
}

.Availability {
  width: 278px;
  height: 71px;
  margin: 40px 16px 45px 1px;
  padding: 26px 0 0;
}

.Button-Filter {
  width: 100px;
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 10px;
  margin: 45px 16px 20px 179px;
  padding: 11px 18px;
  border-radius: 4px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  background-color: #0d518b;
  color: white;
  border: #145b93;
}

.Rectangle-1363 {
  width: 318px;
  height: 58px;
  padding: 19px 37.5px 2px 19px;
  box-shadow: 0 10px 20px 0 rgba(46, 46, 46, 0.15);
  border: solid 1px #145b93;
  background-color: #f1f1f1;
}

.data_input {
  width: 88px;
  height: 16px;
  flex-grow: 0;
  margin: 3px 138px 5px 0;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2e2e2e;
}

li {
  list-style: none;
}

.Filter-Main-3 {
  width: 278px;
  height: 403px;
  flex-grow: 0;
  border-radius: 7px;
  box-shadow: 0 16px 20px 0 rgba(46, 46, 46, 0.15);
  margin: 33px 14px 49px 890px;
  border: solid 1px #145b93;
  background-color: #f1f1f1;
}

.SubMenuAssetAll {
  display: flex;
  width: 278px;
  height: 403px;
  flex-grow: 0;
}

.Rectangle-979 {
  width: 278px;
  height: 45px;
  flex-grow: 0;
  padding: 11px 20px 10px 234px;
  border: solid 1px #f9f9f9;
  background-color: #f1f1f1;
}

.Rectangle-935 {
  width: 275px;
  height: 48px;
  flex-grow: 0;
  border: solid 1px #f1f1f1;
  background-color: #f9f9f9;
}

.Button-Primary-Done {
  display: flex;
  width: 100px;
  height: 36px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 10px;
  margin: 19px 26px 0 152px;
  padding: 11px 18px;
  border-radius: 4px;
  background-color: #0d518b;
  color: #fff;
}

.Network-Data-Center {
  width: 142px;
  height: 16px;
  flex-grow: 0;
  margin: 4px 0 4px 13px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2e2e2e;
}

/*Recommendations*/
.rec-button__text {
  width: 22px;
  height: 48px;
  align-self: center;
  flex-grow: 0;
  font-family: NunitoSans;
  font-size: 14.3px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: 0.14px;
  text-align: center;
  color: #f9f9f9;
}